apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: bookinfo-canary
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/<your-username>/bookinfo-gitops
    targetRevision: main
    path: base
  destination:
    server: https://kubernetes.default.svc
    namespace: apps
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
